# Ignore database files
*.sqlite3

# Ignore static files
/staticfiles/

# Ignore media files
/media/

# Ignore environment-specific settings
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore local development settings
/local_settings.py

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore virtual environment
venv/